.final-list-container{
  background-color: rgb(40, 39, 39);
  border-radius: 3px;
  height: 560px;
  right: 0;
  width: 450px;
  overflow-y: auto;
}

.ol-start-list{
  color: lightgray;
  list-style-type: none;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.ol-group {
  margin-bottom: 15px;
}

.ol-item {
  margin-left: 15px;
}

.ol-item-colon {
  margin: 0 10px;
}

.ol-btn-container {
  text-align: right;
}

.ol-btn-container button {
  margin-top: 5px;
  margin-right: 5px;
}
