.product-sort-container {
  display: flex;
  justify-content: space-between;
  /* border: 10px inset gray; */
  padding: 0 200px;
  margin: 75px auto;
}
 
.sort-btn {
  border-radius: 4px;
  letter-spacing: 0.05em;
  margin: auto 50px;
  padding: 20px 15px;
}

@media only screen and (max-width: 1110px) {
  .product-sort-container {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px auto;
    padding: 0 80px;
  }

  .sort-btn {
    align-self: flex-start;
    border: 3px dashed gray;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding: 100px 50px;
    margin: 80px 50px 0 0;
  }
}