.modal-body {
  animation: fadein .4s linear;
  background-color: white;
  border: 4px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.modal-body button, .modal-body a {
  letter-spacing: 0.05em;
}

.modal-title,
.modal-subtitle,
.modal-descript {
  margin-left: 15px;
}

.modal-descript {
  height: fit-content;
}

.ul-list-choice {
  color: blue;
  cursor: pointer;
}

.modal-popover-btn {
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 12px;
}

.modal-popover-btn:hover {
  background-color: dodgerblue;
}

.modal-body hr {
  margin-bottom: 0;
  overflow: hidden;
  width: 99%;
}

.modal-body hr:nth-of-type(even) {
  width: 95%;
}

.modal-body h2,
h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.modal-button-container {
  padding: 10px;
  text-align: right;
}

.modal-button-container button,
.modal-button-container a {
  background-color: darkgray;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.modal-button-container a {
  color: black;
  margin-right: 10px;
  padding: 3px 8px 5px;
  text-decoration: none;
}

.modal-button-container button {
  margin-right: 10px;
  padding: 6px 10px;
}

.modal-button-container button:hover {
  background-color: seagreen;
  color: white;
}

.modal-button-container a:hover {
  background-color: lightslategray;
  color: white;
}

@keyframes fadeout {
  from {
    opacity: 1;
    top: 40%;
  }

  to {
    opacity: 0;
    top: 35%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    top: 35%;
  }

  to {
    opacity: 1;
    top: 40%;
  }
}
