.start-list-container {
  display: flex;
  flex-direction: column;
  float: left;
  min-width: 400px;
}

.ul-start-list {
  background-color: rgb(40, 39, 39);
  border-radius: 3px;
  color: lightgray;
  line-height: 2em;
  margin-top: 0;
  max-height: 475px;
  overflow-y: auto;
}

.ul-li-container {
  border-bottom: 2px solid darkgray;
  display: flex;
  letter-spacing: 0.05em;
  list-style-type: none;
  margin: 0 15px 10px -20px;
  padding-left: 5px;
}

.ul-labels {
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 25px 0;
}

.item-label-span {
  margin-right: 145px;
}

.ul-product {
  margin-right: 95px;
}

.ul-qty {
  margin: 0 20px 5px auto;
  text-align: center;
  width: 50px;
}

.ul-li-container button {
  background-color: rgba(200, 0, 0, 0.6);
  border: 3px solid slategray;
  border-radius: 10px;
  color: lightgray;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin: 0 0 10px 25px;
  padding: 2px 5px;
}

.ul-li-container button:hover {
  background-color: lightgray;
  border-color: black;
  color: black;
}

.start-list-container form {
  background-color: rgb(40, 39, 39);
  border-radius: 2px;
  padding: 10px 8px;
}

.start-list-container form input {
  border-radius: 1px;
  margin-bottom: 5px;
  padding: 3px 0;
  text-align: center;
}

.start-list-container form button {
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 10px;
}

.start-list-container form button:hover {
  background-color: gray;
}

.form-btns {
  font-weight: 500;
}

.ul-btn-clearAll {
  color: red;
  font-weight: bold;
}

.ul-btn-add {
  color: green;
  margin-left: 15px;
}

.start-list-container .input-container {
  display: flex;
}

.start-list-container .right-form-input {
  margin: 0 0 0 auto;
  text-align: center;
}

.start-list-container .left-form-input {
  text-align: center;
}

/*
@media only screen and (max-width: 1110px) {
  .start-list-container {
    width: 850px;
  }

  .ul-start-list {
    flex-wrap: wrap;
    font-size: 18px;
    height: 350px;
  }

  .ul-list-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
  }

  .input-container {
    margin: auto;
  }

  .start-list-container form input {
    font-size: 16px;
    margin: 0 0 10px 0;
    height: 30px;
  }

  .start-list-container form button {
    margin-top: 5px;
    padding: 10px 0;
  }

  .ul-btn-clear {
    margin-right: 80px;
  }

  .ul-btn-add {
    margin-left: 80px;
  }

  @media only screen and (max-width: 970px) {
    .start-list-container {
      width: 700px;
    }

    .ul-start-list {
      height: 250px;
      font-size: 16px;
    }

    .ul-list-container {
      width: 45%;
    }
  }
} */
