.challenge-container {
  background-color: whitesmoke;
  border: 2px solid slategray;
  border-radius: 4px;
  display: inline-block;
  margin: -50px 0 0 10px;
  padding: 0 10px;
  position: absolute;
  text-align: center;
}

.challenge-container ul {
  margin: 2px 0;
}

.challenge-container .link {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 0 -40px;
}

.challenge-container .link a {
  background-color: gray;
  border-radius: 3px;
  color: black;
  margin: 3px;
  padding: 3px 8px 5px;
  text-decoration: none;
}

.challenge-container .link a:hover {
  background-color: dodgerblue;
}